---
layout: default
---

<script>
function fitToContainer(canvas){
  // Make it visually fill the positioned parent
  canvas.style.width ='100%';
  canvas.style.height='100%';
  // ...then set the internal size to match
//   canvas.width  = canvas.offsetWidth;
//   canvas.height = canvas.offsetHeight;
}

window.addEventListener('resize', function(event){
  let canvas = document.querySelector('canvas');
  fitToContainer(canvas);
});
</script>
<script src="{{ "/js/rain.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/time.js" | prepend: site.baseurl }}"></script>

<!-- Page Header -->
<header class="demo-1">
    <div class="image-preload">
		<img id="drop-color" src="{{ "/img/drop-color.png" | prepend: site.baseurl }}" alt="">
		<img id="drop-alpha" src="{{ "/img/drop-alpha.png" | prepend: site.baseurl }}" alt="">
		<img id="texture-rain-fg" src="{{ "/img/weather/texture-rain-fg.png" | prepend: site.baseurl }}" />
		<img id="texture-rain-bg" src="{{ "/img/weather/texture-rain-bg.png" | prepend: site.baseurl }}" />
		<img id="texture-storm-lightning-fg" src="{{ "/img/weather/texture-storm-lightning-fg.png" | prepend: site.baseurl }}" />
		<img id="texture-storm-lightning-bg" src="{{ "/img/weather/texture-storm-lightning-bg.png" | prepend: site.baseurl }}" />
		<img id="texture-sun-fg" src="{{ "/img/weather/texture-sun-fg.png" | prepend: site.baseurl }}" />
		<img id="texture-sun-bg" src="{{ "/img/weather/texture-sun-bg.png" | prepend: site.baseurl }}" />
		<img id="texture-fallout-fg" src="{{ "/img/weather/texture-fallout-fg.png" | prepend: site.baseurl }}" />
		<img id="texture-fallout-bg" src="{{ "/img/weather/texture-fallout-bg.png" | prepend: site.baseurl }}" />
		<img id="texture-drizzle-fg" src="{{ "/img/weather/texture-drizzle-fg.png" | prepend: site.baseurl }}" />
		<img id="texture-drizzle-bg" src="{{ "/img/weather/texture-drizzle-bg.png" | prepend: site.baseurl }}" />
	</div>
    <div>
		<div class="slideshow">
			<canvas width="1" height="1" id="canvas-container" 
                style="position:absolute;width: 100%;width: 100vw;height: 100vh;">
            </canvas>
			<!-- Heavy Rain -->
			<div class="slide" id="slide-1" data-weather="rain">
				<div class="slide__element slide__element--date">Sunday, 24 of October 2043</div>
				<div class="slide__element slide__element--temp">12°<small>C</small></div>
			</div>
			<!-- Drizzle -->
			<div class="slide" id="slide-2" data-weather="drizzle">
				<div class="slide__element slide__element--date">Saturday, 25 of October 2043</div>
				<div class="slide__element slide__element--temp">18°<small>C</small></div>
			</div>
			<!-- Sunny -->
			<div class="slide" id="slide-3" data-weather="sunny">
				<div class="slide__element slide__element--date">Monday, 26 of October 2043</div>
				<div class="slide__element slide__element--temp">25°<small>C</small></div>
			</div>
			<!-- Heavy rain -->
			<div class="slide" id="slide-5" data-weather="storm">
				<div class="slide__element slide__element--date">Wednesday, 28 of October 2043</div>
				<div class="slide__element slide__element--temp">10°<small>C</small></div>
			</div>
			<!-- Fallout (greenish overlay with slightly greenish/yellowish drops) -->
			<div class="slide" id="slide-4" data-weather="fallout">
				<div class="slide__element slide__element--date">Tuesday, 27 of October 2043</div>
				<div class="slide__element slide__element--temp">20°<small>C</small></div>
			</div>
			<nav class="slideshow__nav">
				<a class="nav-item" href="#slide-1"><i class="r-icon icon--rainy"></i><span>Rain</span></a>
				<a class="nav-item" href="#slide-2"><i class="r-icon icon--drizzle"></i><span>Drizzle</span></a>
				<a class="nav-item" href="#slide-3"><i class="r-icon icon--sun"></i><span>Sun</span></a>
				<a class="nav-item" href="#slide-5"><i class="r-icon icon--storm"></i><span>Storm</span></a>
				<a class="nav-item" href="#slide-4"><i class="r-icon icon--radioactive"></i><span>Fallout</span></a>
			</nav>
		</div>
		<p class="nosupport">Sorry, but your browser does not support WebGL!</p>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <!-- no hr -->
                    <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                                <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                {% endif %}

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <a href="{{ site.baseurl }}/about">
                                <img src="{{site.sidebar-avatar}}"/>
                            </a>
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                        <!-- SNS Link -->
                        <ul class="list-inline">
                            {% if site.RSS %}
                            <li>
                                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            <!-- add jianshu add target = "_blank" to <a> by BY -->
                            {% if site.jianshu_username %}
                            <li>
                                <a target="_blank" href="https://www.jianshu.com/u/{{ site.jianshu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">简</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.zhihu_username %}
                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.weibo_username %}
                            <li>
                                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            
                        </ul>
                        {% if site.email %}
                            <p>✉️ {{site.email}}</p>
                        {% endif %}
                    </div>
                </section>
                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
    		</div>
        {% endif %}
	</div>
</div>
